h2{
    font-size: 50px;
}

.no_border{
    border: none;
}
.bck-color{
    background-color: white;
}
.bck-color2{
    background-color: blue;
}
.bck-color3{
    background-color: #cd3d0f;
}
.bck-color4{
    background-color: #363636;
}
.bck-color5{
    background-color: #2d64e6;
}

.color1{
    color: white;
}
.color2{
    color: #0072ce;
}

.header-top{
    display: flex;
    justify-content: flex-end;
    background-color: black;
}
.header-top img{
    height: 30px;
    margin: 20px 20px 20px 0;
}
.fa-bars{
    font-size: 40px;
    padding: 10px 20px;
    color: grey;
}
.header-bottom img{
    height: 80px;
}
.header-bottom{
    display: flex;
}
header button{
    margin: 0 20px;
}
.menu_nav{
    border: solid lightgray 1px;
}
.main-nav ul{
    list-style: none;
    display: flex;
    margin: 0;
}
.main-nav ul li a{
    text-decoration: none;
    color: black;
}
.fa-chevron-down{
    margin-left: 10px;
}
.main-nav ul li{
    margin-right: 30px;
}

.hero{
    background-image: url("../img/jumbo-bg.png");
}
.hero img{
    height: 40px;
    margin-bottom: 20px;
}
.hero-content{
    margin: 400px 0 40px 0px;
}
.img-row{
    margin: 100px auto;
}
.img-row img{
    height: 110px;
    border-radius: 20px;
    padding: 4px;
}
.border_select{
    border: solid #0072ce 2px;
    border-radius: 15px;
}
.no-limits{
    margin-bottom: 100px;
}
.no-limits h4{
    text-transform: uppercase;
    color: #0072ce;
}
.no-limits p{
    color: #797979;
}
.ps5_img{
    height: 500px;
}
.sale_img{
    height: 220px;
}
.ps4_img{
    height: 150px;
}
.items_img{
    height: 120px;
}
.items_img2{
    height: 160px;
}
.takes_two_section{
    background-color: aquamarine;
}
.new_releases{
    background-color: lightblue;
}
.radius{
    border-radius: 20px;
}
.ps_plus{
    background-color: lightsalmon;
}
.ps_now{
    background-color: bisque;
}
.ps_plus img, .ps_now img, .plays_img, .sony_img{
    height: 50px;
}
.social_media img{
    height: 150px;
}
